{% extends "main.html" %}
{% block cont %}



<script type="text/javascript">

window.addEventListener('load',
	function() {
	 	console.log('!');
		web3 = window.web3;
		console.log(web3);

		if (typeof web3 !== 'undefined') {
			web3 = new Web3(web3.currentProvider);
			window.web3 = new Web3(web3.currentProvider);

			console.log(web3.currentProvider);

			if (web3.currentProvider.isMetaMask === true) {
				startApp();
			} else {
				$('#message').append('<div>No web3? Please use google chrome and metamask plugin to enter this Dapp!</div>');
			}
	}
});

function startApp() {
	var ABI = [{"constant":false,"inputs":[],"name":"kill","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"greet","outputs":[{"name":"","type":"string"}],"payable":false,"stateMutability":"view","type":"function"},{"inputs":[{"name":"_greeting","type":"string"}],"payable":false,"stateMutability":"nonpayable","type":"constructor"}];
	var contract = "0x13ed8a1B1A811e38C4C08253427726451901E662"; // "0xefeB77057B7DA008afC54eeD0B9714CdEcC8CDDd";

	token = web3.eth.contract(ABI).at(contract);
	console.log(token);

	account = web3.eth.accounts[0];
	// $('#message').append('<div>' + account + '</div');
	console.log(account);

	// console.log(token.greet());
	token.greet.call(function (err, res) { 
		console.log(res);
	});
}

</script>

{% endblock %}