<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/static/jquery.min.js"></script>

	<title>{% if title %}{{title}} &mdash; {% endif %}Tensegrity</title>
	<link rel="shortcut icon" type="images/png" href="/static/favicon.png">

	<meta name="author" content="Poloz Alexey (polozhev@mail.ru)">
	<meta name="description" content="{% if description %}{{ description }}{% else %}Educational ecosystem based on blended learning and flexible crypto economy.{% endif %}">
	<meta name="keywords" content="{% if tags %}{% for i in tags %}{{ i }},{% endfor %}{% else %}blended learning system,education platform,tokens,blockchain{% endif %}">

	<link rel="stylesheet" href="/static/bootstrap.min.css">
	<script src="/static/jquery.min.js"></script>
	<script src="/static/popper.min.js"></script>
	<script src="/static/bootstrap.min.js"></script>

	<script src="/static/web3.min.js"></script>

	<script src="/static/ethereum.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#"><img src="/static/logo.svg" style="height: 25px;"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item{% if url == 'learn' %} active{% endif %}">
						<a href="/" class="nav-link" href="#">Learn</a>
					</li>
					<li class="nav-item{% if url == 'teach' %} active{% endif %}">
						<a href="/teach" class="nav-link" href="#">Teach</a>
					</li>
				</ul>
				<div id="message"></div>
			</div>
		</div>
	</nav>
	<div class="container body">

{% block cont %}{% endblock %}

	</div>
	<footer class="section footer-classic context-dark bg-image" style="background-color: #343a40!important;">
		<div class="container">
			<div class="row row-30">
				<div class="col-md-4 col-xl-5">
					<div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
						<p>Global decentralized p2p educational platform based on collaborative learning and flexible crypto economy.</p>
						<p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Tensegrity</span><span>. </span><span>All Rights Reserved.</span></p>
					</div>
				</div>
				<div class="col-md-4">
					<h5>Contacts</h5>
					<dl class="contact-list">
						<dt>Address:</dt>
						<dd>Saint-Petersburg, Russia</dd>
					</dl>
					<dl class="contact-list">
						<dt>email:</dt>
						<dd><a href="mailto:#">admin@tensy.org</a></dd>
					</dl>
					<dl class="contact-list">
						<dt>phones:</dt>
						<dd><a href="tel:#">+7 (921) 891-27-14</a> <span>or</span> <a href="tel:#">+7 (981) 163-55-78</a></dd>
					</dl>
				</div>
				<div class="col-md-4 col-xl-3">
					<h5>Links</h5>
					<ul class="nav-list">
						<li><a href="#">About</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Feedbacks & Troubles</a></li>
						<li><a href="#">White Paper</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>