{% extends "main.html" %}
{% block cont %}

<h1>Space</h1>
<div class="cont"><button onclick="confirm('{{ teacher }}')" type="button" class="btn btn-outline-success">Start</button></div>

<script type="text/javascript" charset="utf-8">

function confirm(teacher) {
	student_end_lesson(true, teacher);
	$('.cont').html('Success!');
}

// async function getConfirmations(txHash) {
// 	try {
// 		const trx = await web3.eth.getTransaction(txHash);
// 		console.log(trx);
// 		const currentBlock = await web3.eth.getBlockNumber();
// 		return trx.blockNumber === null ? 0 : currentBlock - trx.blockNumber;
// 	}
// 	catch (error) {
// 		console.log(error)
// 	}
// }

// function confirmEtherTransaction(txHash, confirmations = 10) {
//   setTimeout(async () => {
    
//     // Get current number of confirmations and compare it with sought-for value
//     const trxConfirmations = await getConfirmations(txHash)
    
//     console.log('Transaction with hash ' + txHash + ' has ' + trxConfirmations + ' confirmation(s)')

//     if (trxConfirmations >= confirmations) {
//       // Handle confirmation event according to your business logic
      
//       console.log('Transaction with hash ' + txHash + ' has been successfully confirmed')

//       return
//     }
//     // Recursive call
//     return confirmEtherTransaction(txHash, confirmations)
//   }, 30 * 1000)
// }



</script>

{% endblock %}